    
<div class="whole-wrap pb-100">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                  <h3 class="mb-30">Contact Us</h3>
                      <form [formGroup]="form"   (ngSubmit)="submitToemail()" >
                        <div class="mt-10">
                            <input type="text"  formControlName="firstname"  placeholder="First Name"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
                            <div class="red-danger">
                                <div *ngIf="!f.firstname.valid && f.firstname.touched">First Name is required</div>
                            </div>
                        </div>
                       
                        <div class="mt-10">
                            <input type="email"  formControlName="email"  placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input">
                            <div  class="red-danger">
                                <div *ngIf="!f.email.valid && f.email.touched "> Valid Email is required</div>
                                
                            </div>
                        </div>
                        <div class="mt-10">
                            <textarea class="single-textarea" formControlName="message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
                            <div  class="red-danger">
                                <div *ngIf="!f.message.valid && f.message.touched">Message  is required</div>
                            </div>
                            <button type="submit" [disabled]="!form.valid" class="btn primary-btn mt-20" style="font-size: 15px; height:52px;">Submit</button> 
                        
                        </div>
                        
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->
<!-- For Gradient Border Use -->
                        <!-- <div class="mt-10">
                            <div class="primary-input">
                                <input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
                                <label for="primary-input"></label>
                            </div>
                        </div> -->

