<section class="banner-area" id="home">
    <!-- Start Header Area -->
    
    <!-- End Header Area -->				
        <div class="container">
            <div class="row justify-content-end  align-items-center">
                <div class="col-lg-6 col-md-12 banner-left">
                        <h1 class="text-white">
                            Prayer times, Azan & Quran 
                        </h1>
                        <p class="mx-auto text-white  mt-20 mb-40">
                            Accurate Prayer times based on your location, Never miss a prayer through Azan (Athan) and call for prayers notifications, Listen to the holy quran recitations by world famous reciters. 
                        </p>
                        <!-- <a href="#" class="text-uppercase header-btn">Load More Item</a> -->
                </div>
                <div class="col-lg-6 col-md-12 no-padding banner-right">
                    <img class="img-fluid" src="./assets/img/New header.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="cat-area section-gap" id="service">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">App Feaures</h1>
                        <p>Accurate prayer times, Azan, 40+ recitations & translations, verse by verse highlight, supplications, & more , which wQuran provides all the features for free.</p>
                    </div>
                </div>
            </div>							
            <div class="row">
                <div class="col-lg-3">	
                    <div class="single-cat flex-column">
                        <h3 class="mb-20" style="margin-top: 23px; ">Prayer time</h3>
                        <img class="img-fluid" src="./assets/img/MyDay.png" alt="">
                    </div>															
                </div>
                <div class="col-lg-3">	
                    <div class="single-cat  flex-column">
                        <h3 class="mb-20" style="margin-top: 23px;">40+ recitations</h3>
                        <img class="img-fluid" src="./assets/img/Listen.png" alt="">
                    </div>															
                </div>
                <div class="col-lg-3">	
                    <div class="single-cat flex-column">
                        <h3 class="mb-20" style="margin-top: 23px;">40+ translations</h3>
                        <img class="img-fluid" src="./assets/img/Read.png" alt="">
                    </div>															
                </div>
                <div class="col-lg-3">	
                    <div class="single-cat flex-column">
                        <h3 class="mb-20" style="margin-top: 23px;">Quran</h3>
                        <img class="img-fluid" src="./assets/img/Quran.png" alt="">
                    </div>															
                </div>
            </div>
        </div>	
    </section>
   	
    <!-- End cat Area -->
   <!--  Start about Area -->
			<section class="about-area section-gap">
				<div class="container">
					<div class="row justify-content-center align-items-center d-flex">
						<div class="col-lg-6 about-left">
							<h1>
								We Believe that <br>
								Interior beautifies the <br>
								Total Architecture
							</h1>
							<p class="mt-20"> 
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that.
							</p>
							<!-- <a href="#" class="btn primary-btn text-uppercase mt-20">see details</a>  -->
						</div>
						<div class="col-lg-6 about-right">
							<img class="img-fluid" src="./assets/img/body.png" alt="">
						</div>
					</div>
				</div>	
			</section> 
            <!-- End about Area -->
<!-- Start call-to-action Area -->
<section class="call-to-action-area section-gap">
    <div class="container">
        <div class="row justify-content-center top">
            <div class="col-lg-12">
                <h1 class="text-white text-center">Download This App Today!</h1>
                <p class="text-white text-center mt-30">
                    Accurate Prayer times based on your location, Never miss a prayer through Azan (Athan) and call for prayers notifications, Listen to the holy quran recitations by world famous reciters. Read the quran in arabic alongside its translation in 40+ languages.
                </p>							
            </div>
        </div>
        <div class="row justify-content-center d-flex">	
            <div class="download-button d-flex flex-row justify-content-center mt-30">		
                <div class="buttons flex-row d-flex">
                    <i class="fa fa-apple" aria-hidden="true"></i>
                    <div class="desc">
                         <a href="https://apps.apple.com/us/app/id1529761608" target="_blank">
                            <p>
                                <span>Available</span> <br>
                                on App Store
                            </p>
                        </a>
                    </div>
                </div>
                <div class="buttons flex-row d-flex">
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <div class="desc">
                        <a href="https://play.google.com/store/apps/details?id=com.AZEE.wquran" target="_blank"> 
                            <p>
                                <span>Available</span> <br>
                                on Play Store
                            </p>
                        </a>
                    </div>
                </div>
            </div>						
        </div>
    </div>	
</section>
<!-- End call-to-action Area -->
    